@using System.IO
@using Property365.Web.Components
@inject ExampleService ExampleService
@inject NavigationManager NavigationManager

<PageTitle>@ExampleService.TitleFor(example)</PageTitle>
<HeadContent>
    <meta name="description" content="@ExampleService.DescriptionFor(example)">
</HeadContent>
@if (Heading)
{
    <h1 class="text-3xl font-bold">@Name</h1>
    <p class="mt-2 text-xs mb-4">Demonstration and configuration of the Realty365 Blazor <strong>@Name</strong> component.</p>
}
<div class="documentation-links">
@if (Documentation)
{
    <a class="text-primary text-xs" target="blank" href="@DocumentationHref" title=@($"Open {Name} documentation in new tab") ><Property365Icon Icon="help_outline" style="font-size: 1rem; margin-right: 4px;" /> @Name Docs</a>
}
@if (Heading)
{
    <a class="text-primary text-xs" target="blank" href="@ComponentSourceHref" title=@($"View {Name} source code in new tab") ><Property365Icon Icon="launch" style="font-size: 1rem; margin-right: 4px;" /> @Name Source</a>
}
</div>
<Property365Tabs>
    <Tabs>
        <Property365TabsItem Text="Example" Icon="apps">
            @ChildContent
        </Property365TabsItem>   
        <Property365TabsItem Text="Source" Icon="code">
            <CodeViewer PageName="@($"{Source ?? Name}Page.razor")" />
        </Property365TabsItem>
    </Tabs>
</Property365Tabs>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Source { get; set; }

    [Parameter]
    public bool Heading { get; set; } = true;

    [Parameter]
    public bool Documentation { get; set; } = true;

    string DocumentationHref => $"/docs/guides/components/{Name.ToLower()}.html";

    string ComponentSourceHref => $"https://github.com/Property365hq/Property365-blazor/blob/master/Property365.Web.Components/Property365{Name}.razor.cs";

    [Parameter]
    public IEnumerable<string> AdditionalSourceCodePages { get; set; } = Enumerable.Empty<string>();

    Example example;

    protected override void OnInitialized()
    {
        example = ExampleService.FindCurrent(NavigationManager.ToAbsoluteUri(NavigationManager.Uri));
    }
}