@page "/datagrid-empty"
@using Property365.Web.Components.Demos.Models.Northwind


<h1>Empty DataGrid</h1>

<Property365ComponentContainer Name="DataGrid" Source="DataGridEmpty" Heading="false">
    <h3>Default Empty Text</h3>
    <Property365DataGrid TItem="Employee" Data="@data">
        <Columns>
            <Property365DataGridColumn TItem="Employee" Property="EmployeeID" Title="ID" Width="50px" TextAlign="TextAlign.Center" />
            <Property365DataGridColumn TItem="Employee" Title="Photo" Sortable="false" >
                <Template Context="data">
                    <Property365Image Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px;" />
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="FirstName" Title="First Name" />
            <Property365DataGridColumn TItem="Employee" Property="LastName" Title="Last Name" />
            <Property365DataGridColumn TItem="Employee" Property="Title" Title="Title" />
            <Property365DataGridColumn TItem="Employee" Property="TitleOfCourtesy" Title="Title Of Courtesy" />
            <Property365DataGridColumn TItem="Employee" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="Address" Title="Address" />
        </Columns>
    </Property365DataGrid>    

    <h3 class="mt-4">Custom Empty Text</h3>
    <div class="mb-4">
        Custom text: <Property365TextBox @bind-Value="emptyText" Class="ml-2" Style="width: 300px;" />
    </div>
    <Property365DataGrid TItem="Employee" Data="@data" EmptyText="@emptyText">
        <Columns>
            <Property365DataGridColumn TItem="Employee" Property="EmployeeID" Title="ID" Width="50px" TextAlign="TextAlign.Center" />
            <Property365DataGridColumn TItem="Employee" Title="Photo" Sortable="false" >
                <Template Context="data">
                    <Property365Image Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px;" />
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="FirstName" Title="First Name" />
            <Property365DataGridColumn TItem="Employee" Property="LastName" Title="Last Name" />
            <Property365DataGridColumn TItem="Employee" Property="Title" Title="Title" />
            <Property365DataGridColumn TItem="Employee" Property="TitleOfCourtesy" Title="Title Of Courtesy" />
            <Property365DataGridColumn TItem="Employee" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="Address" Title="Address" />
        </Columns>
    </Property365DataGrid>

    <h3 class="mt-4">Render Fragment as Empty Text</h3>
    <Property365DataGrid TItem="Employee" Data="@data">
        <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
        </EmptyTemplate>
        <Columns>
            <Property365DataGridColumn TItem="Employee" Property="EmployeeID" Title="ID" Width="50px" TextAlign="TextAlign.Center" />
            <Property365DataGridColumn TItem="Employee" Title="Photo" Sortable="false" >
                <Template Context="data">
                    <Property365Image Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px;" />
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="FirstName" Title="First Name" />
            <Property365DataGridColumn TItem="Employee" Property="LastName" Title="Last Name" />
            <Property365DataGridColumn TItem="Employee" Property="Title" Title="Title" />
            <Property365DataGridColumn TItem="Employee" Property="TitleOfCourtesy" Title="Title Of Courtesy" />
            <Property365DataGridColumn TItem="Employee" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="Address" Title="Address" />
        </Columns>
    </Property365DataGrid>
</Property365ComponentContainer>

@code { 
    string emptyText = "No Items to display!";
    List<Employee> data = new List<Employee>();
}