@page "/datagrid-virtualization-loaddata"
@using System.Linq.Dynamic.Core
@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<h1>DataGrid <strong>Custom Virtualization</strong></h1>

<p>
    Property365DataGrid supports virtualization with custom data-binding scenarios. Handle the <code>LoadData</code> event as usual.
</p>
<Property365ComponentContainer Name="DataGrid" Source="DataGridVirtualizationLoadData" Heading="false">
    <Property365DataGrid Data="@orderDetails" Count="@count" LoadData="@LoadData" TItem="OrderDetail" AllowVirtualization="true" Style="height:400px"
                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true">
        <Columns>
            <Property365DataGridColumn TItem="OrderDetail" Property="OrderID" Title="OrderID" />
            <Property365DataGridColumn TItem="OrderDetail" Property="ProductID" Title="ProductID" />
            <Property365DataGridColumn TItem="OrderDetail" Property="UnitPrice" Title="Unit Price">
                <Template Context="detail">
                    @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", detail.UnitPrice)
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="OrderDetail" Property="Quantity" Title="Quantity" />
            <Property365DataGridColumn TItem="OrderDetail" Property="Discount" Title="Discount">
                <Template Context="detail">
                    @String.Format("{0}%", detail.Discount * 100)
                </Template>
            </Property365DataGridColumn>
        </Columns>
    </Property365DataGrid>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />
@code {
    EventConsole console;

    int count;
    IEnumerable<OrderDetail> orderDetails;

    void LoadData(LoadDataArgs args)
    {
        console.Log($"Skip: {args.Skip}, Top: {args.Top}");

        var query = dbContext.OrderDetails.AsQueryable();

        if (!string.IsNullOrEmpty(args.Filter))
        {
            query = query.Where(args.Filter);
        }

        if (!string.IsNullOrEmpty(args.OrderBy))
        {
            query = query.OrderBy(args.OrderBy);
        }

        orderDetails = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();

        count = dbContext.OrderDetails.Count();
    }
}