@page "/datagrid-cell-contextmenu"
@using Property365.Web.Components
@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore
@inject ContextMenuService ContextMenuService
@inject NorthwindContext dbContext
<h1>DataGrid <strong>Cell context menu</strong></h1>

<Property365ComponentContainer Name="DataGrid" Source="DataGridCellContextMenu" Heading="false">
    <p>Right click on a table cell to open the context menu.</p>
    <Property365DataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@employees" TItem="Employee" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedEmployees CellContextMenu="@OnCellContextMenu">
        <Columns>
            <Property365DataGridColumn TItem="Employee" Property="Photo" Title="Employee" Sortable="false" Filterable="false">
                <Template Context="data">
                    <Property365Image Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px; margin-right: 8px;" />
                    @data.FirstName @data.LastName
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="Title" Title="Title" />
            <Property365DataGridColumn TItem="Employee" Property="EmployeeID" Title="Employee ID" />
            <Property365DataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="City" Title="City" />
            <Property365DataGridColumn TItem="Employee" Property="Country" Title="Country" />
        </Columns>
    </Property365DataGrid>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    IEnumerable<Employee> employees;
    IList<Employee> selectedEmployees;
    EventConsole console;

    void ClearSelection()
    {
        selectedEmployees = null;
    }

    protected override void OnInitialized()
    {
        employees = dbContext.Employees;
        selectedEmployees = employees.Take(1).ToList();
    }

    void OnCellContextMenu(DataGridCellMouseEventArgs<Employee> args)
    {
        selectedEmployees = new List<Employee>() { args.Data };

        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = "Context menu item 1", Value = 1 },
                new ContextMenuItem(){ Text = "Context menu item 2", Value = 2 },
                new ContextMenuItem(){ Text = "Context menu item 3", Value = 3 },
            }, 
            (e) => { 
             console.Log($"Menu item with Value={e.Value} clicked. Column: {args.Column.Property}, EmployeeID: {args.Data.EmployeeID}"); 
            }
         );
    }
}