@page "/datagrid-multiple-selection"
@using Property365.Web.Components
@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext
<h1>DataGrid <strong>Multiple Selection</strong></h1>

<Property365ComponentContainer Name="DataGrid" Source="DataGridMultipleSelection" Heading="false">
    <Property365CheckBox @bind-Value=@allowRowSelectOnRowClick Name="CheckBox1" />
    <Property365Label Text="Allow row select on row click" Component="CheckBox1" Style="margin-left: 5px;margin-bottom: 10px;" />
    <Property365DataGrid @ref="grid" AllowRowSelectOnRowClick="@allowRowSelectOnRowClick" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@employees" TItem="Employee" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedEmployees>
        <Columns>
            <Property365DataGridColumn TItem="Employee" Width="40px" Sortable="false" Filterable="false">
                <HeaderTemplate>
                    <Property365CheckBox TriState="false" TValue="bool" Value="@(employees.Any(i => selectedEmployees != null && selectedEmployees.Contains(i)))"
                                    Change="@(args => selectedEmployees = args ? employees.ToList() : null)" />
                </HeaderTemplate>
                <Template Context="data">
                    <Property365CheckBox TriState="false" Value="@(selectedEmployees != null && selectedEmployees.Contains(data))" 
                        TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(data); }}) />
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="Photo" Title="Employee" Sortable="false" Filterable="false">
                <Template Context="data">
                    <Property365Image Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px; margin-right: 8px;" />
                    @data.FirstName @data.LastName
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="Title" Title="Title" />
            <Property365DataGridColumn TItem="Employee" Property="EmployeeID" Title="Employee ID" />
            <Property365DataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="City" Title="City" />
            <Property365DataGridColumn TItem="Employee" Property="Country" Title="Country" />
        </Columns>
    </Property365DataGrid>
</Property365ComponentContainer>
@code {
    bool allowRowSelectOnRowClick = true;
    IEnumerable<Employee> employees;
    IList<Employee> selectedEmployees;
    Property365DataGrid<Employee> grid;

    protected override void OnInitialized()
    {
        employees = dbContext.Employees;
    }
}