@page "/panel"

@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<Property365ComponentContainer Name="Panel">
    <Property365Panel AllowCollapse="true" Style="width: 700px; margin: 40px auto;"
                    Expand=@(() => Change("Panel expanded")) Collapse=@(() => Change("Panel collapsed")) >
        <HeaderTemplate>
            <h4 class="m-0 d-flex align-items-center">
                <Property365Icon Icon="account_box" Class="mr-1" /><b>Orders</b>
            </h4>
        </HeaderTemplate>
        <ChildContent>
            <Property365Card Class="mt-3">
                <Property365DataList PageSize="4" WrapItems="true" AllowPaging="true" 
                                Data="@orders" TItem="Order" >
                    <Template Context="order">
                        <Property365Card Style="width: 250px">
                            <div class="row">
                                <div class="col-md-8 text-truncate">
                                    <Property365Badge BadgeStyle="BadgeStyle.Light" Text=@($"{order.OrderID}") Class="mr-1" />
                                    <b>@(order.ShipName)</b>
                                </div>
                                <div class="col-md-4 text-right">
                                    <Property365Badge BadgeStyle="BadgeStyle.Success" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", order.Freight)}") />
                                </div>
                            </div>
                            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                            <div class="d-flex flex-row align-items-center">
                                <Property365Image Path="@order.Employee?.Photo" Class="rounded-circle float-left mr-3" Style="width: 80px; height: 80px;" />
                                <div>
                                    <h4 class="mb-0">@(order.Employee?.FirstName + " " + order.Employee?.LastName)</h4>
                                    <div>@order.ShipAddress</div>
                                    <div style="font-size: .8em">@(order.ShipCity), @(order.ShipCountry)</div>
                                </div>
                            </div>
                        </Property365Card>
                    </Template>
                </Property365DataList>
            </Property365Card>
        </ChildContent>
        <SummaryTemplate>
            <Property365Card class="mt-3">
                <b>@orders.Count() Orders</b>
            </Property365Card>
        </SummaryTemplate>
    </Property365Panel>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    IEnumerable<Order> orders;

    protected override void OnInitialized()
    {
        orders = dbContext.Orders.Include("Customer").Include("Employee").ToList();
    }

    void Change(string text)
    {
        console.Log($"{text}");
    }
}