@page "/progressbar"
@using Property365.Web.Components

<Property365ComponentContainer Name="ProgressBar">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">ProgressBar in determinate mode</h4>
                <Property365ProgressBar @bind-Value="@value" />
            </Property365Card>
        </div>
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">ProgressBar in indeterminate mode</h4>
                <Property365ProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            </Property365Card>
        </div>
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">ProgressBar in max value > 100</h4>
                <Property365ProgressBar Value="156" Max="200" />
            </Property365Card>
        </div>
    </div>
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">ProgressBar in determinate mode with ProgressBarStyle</h4>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Primary" @bind-Value="@value" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" @bind-Value="@value" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Light" @bind-Value="@value" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Success" @bind-Value="@value" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Danger" @bind-Value="@value" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Warning" @bind-Value="@value" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Info" @bind-Value="@value" />
                </div>
            </Property365Card>
        </div>
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">ProgressBar in indeterminate mode with ProgressBarStyle</h4>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Light" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Success" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Danger" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Warning" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-1">
                    <Property365ProgressBar ProgressBarStyle="ProgressBarStyle.Info" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
            </Property365Card>
        </div>
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">ProgressBar in max value > 100 with ProgressBarStyle</h4>
                <Property365ProgressBar Value="156" Max="200" />
            </Property365Card>
        </div>
    </div>
</Property365ComponentContainer>

@code {
    double value = 55;
}
