@page "/steps"

@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<Property365ComponentContainer Name="Steps">
    <Property365Steps Change=@OnChange>
        <Steps>
            <Property365StepsItem Text="Customers">
                <h3 class="mt-4">1. Select a Customer to continue</h3>
                <Property365DataGrid ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@customers" TItem="Customer" @bind-Value="@selectedCustomers">
                    <Columns>
                        <Property365DataGridColumn TItem="Customer" Property="CustomerID" Title="Customer ID" Width="140px" />
                        <Property365DataGridColumn TItem="Customer" Property="CompanyName" Title="Company Name" />
                        <Property365DataGridColumn TItem="Customer" Property="ContactName" Title="Contact Name" />
                        <Property365DataGridColumn TItem="Customer" Property="ContactTitle" Title="Contact Title" />
                        <Property365DataGridColumn TItem="Customer" Property="Address" Title="Address" />
                        <Property365DataGridColumn TItem="Customer" Property="City" Title="City" Width="140px" />
                        <Property365DataGridColumn TItem="Customer" Property="Region" Title="Region" Width="140px" />
                        <Property365DataGridColumn TItem="Customer" Property="PostalCode" Title="Postal Code" Width="140px" />
                        <Property365DataGridColumn TItem="Customer" Property="Country" Title="Country" Width="140px" />
                        <Property365DataGridColumn TItem="Customer" Property="Phone" Title="Phone" Width="140px" />
                        <Property365DataGridColumn TItem="Customer" Property="Fax" Title="Fax" Width="140px" />
                    </Columns>
                </Property365DataGrid>
            </Property365StepsItem>
            <Property365StepsItem Text="Orders" Disabled="@(selectedCustomers == null || selectedCustomers != null && !selectedCustomers.Any())">
                <h3 class="mt-4">2. Select an Order to continue</h3>
                <Property365DataGrid ColumnWidth="150px" PageSize="5" AllowFiltering="true" AllowPaging="true" AllowSorting="true" 
                            Data="@(selectedCustomers != null && selectedCustomers.Any() ? orders.Where(o => o.CustomerID == selectedCustomers[0].CustomerID) : Enumerable.Empty<Order>())" TItem="Order" @bind-Value="@selectedOrders">
                    <Columns>
                        <Property365DataGridColumn Width="120px" TItem="Order" Property="OrderID" Title="Order ID" />
                        <Property365DataGridColumn Width="200px" TItem="Order" Property="Customer.CompanyName" Title="Customer" />
                        <Property365DataGridColumn TItem="Order" Property="Employee.LastName" Title="Employee">
                            <Template Context="order">
                                <div class="d-flex align-items-center">
                                    <Property365Image Path="@order.Employee?.Photo" style="width: 40px; height: 40px; border-radius: 8px; margin-right: 8px;" />
                                    <div>@order.Employee?.LastName</div>
                                </div>
                            </Template>
                        </Property365DataGridColumn>
                        <Property365DataGridColumn TItem="Order" Property="OrderDate" Title="Order Date">
                            <Template Context="order">
                                @String.Format("{0:d}", order.OrderDate)
                            </Template>
                        </Property365DataGridColumn>
                        <Property365DataGridColumn TItem="Order" Property="RequiredDate" Title="Required Date">
                            <Template Context="order">
                                @String.Format("{0:d}", order.RequiredDate)
                            </Template>
                        </Property365DataGridColumn>
                        <Property365DataGridColumn TItem="Order" Property="ShippedDate" Title="Shipped Date">
                            <Template Context="order">
                                @String.Format("{0:d}", order.ShippedDate)
                            </Template>
                        </Property365DataGridColumn>
                        <Property365DataGridColumn TItem="Order" Property="Freight" Title="Freight">
                            <Template Context="order">
                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", order.Freight)
                            </Template>
                        </Property365DataGridColumn>
                        <Property365DataGridColumn TItem="Order" Property="ShipName" Title="Ship Name" />
                        <Property365DataGridColumn TItem="Order" Property="ShipAddress" Title="Address" />
                        <Property365DataGridColumn TItem="Order" Property="ShipCity" Title="City" />
                        <Property365DataGridColumn TItem="Order" Property="ShipRegion" Title="Region" />
                        <Property365DataGridColumn TItem="Order" Property="ShipPostalCode" Title="Postal Code" />
                        <Property365DataGridColumn TItem="Order" Property="ShipCountry" Title="Country" />
                    </Columns>
                </Property365DataGrid>
            </Property365StepsItem>
            <Property365StepsItem Text="Order Details" Disabled="@(selectedOrders == null || selectedOrders != null && !selectedOrders.Any())">
                <h3 class="mt-4">Order Details</h3>
                <Property365DataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true"
                            Data="@(selectedOrders != null && selectedOrders.Any() ? orderDetails.Where(o => o.OrderID == selectedOrders[0].OrderID) : Enumerable.Empty<OrderDetail>())" TItem="OrderDetail" ColumnWidth="200px">
                    <Columns>
                        <Property365DataGridColumn TItem="OrderDetail" Property="Product.ProductName" Title="Product" />
                        <Property365DataGridColumn TItem="OrderDetail" Property="Quantity" Title="Quantity" />
                        <Property365DataGridColumn TItem="OrderDetail" Property="Discount" Title="Discount" FormatString="{0:P}" />
                    </Columns>
                </Property365DataGrid>
            </Property365StepsItem>
        </Steps>
    </Property365Steps>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;
    IEnumerable<Customer> customers;
    IEnumerable<Order> orders;
    IEnumerable<OrderDetail> orderDetails;

    IList<Customer> selectedCustomers;
    IList<Order> selectedOrders;

    protected override void OnInitialized()
    {
        customers = dbContext.Customers.ToList();
        orders = dbContext.Orders.Include("Customer").Include("Employee").ToList();
        orderDetails = dbContext.OrderDetails.Include("Product").ToList();
    }
    void OnChange(int index)
    {
        console.Log($"Step with index {index} was selected.");
    }
}