@inherits Property365Component

@if (Visible)
{
    <div class="@GetCssClass()" id="@GetId()" style="@Style" @attributes="@Attributes">
        @if (Template != null)
        {
            @Template(this)
        }
        else
        {
            @if (!string.IsNullOrWhiteSpace(Path))
            {
                <Property365Link Icon="@Icon" Path="@Path" Text="@Text" />
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <Property365Icon Icon="@Icon" />
                }
                <Property365Label Text="@Text" />
            }
        }
    </div>
}