@using Property365.Web.Components
@using Microsoft.JSInterop
@inherits Property365Component
<CascadingValue Value=@this>
    @ChildContent
</CascadingValue>
@if (Visible)
{
    <div @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
    <div class="rz-fileupload-buttonbarx relative bg-light-900 p-2 rounded">
        <span class="@ChooseClassList">
            <input id="@Id" @ref="@fileUpload" type="file" multiple="@Multiple" accept="@Accept" disabled="@Disabled" 
                   onchange="Property365Components.uploadInputChange(event, '@Url', @Auto.ToString().ToLower(), @Multiple.ToString().ToLower(), true, '@ParameterName')" />
            @if (!string.IsNullOrEmpty(Icon))
            {
            <i class="rzi">@((MarkupString)Icon)</i>
            }
            <span class="rz-button-text">@ChooseText</span>
        </span>
    </div>
    @if (files.Any())
    {
    <div class="rz-fileupload-content">
        <div class="rz-fileupload-files">
            <div>
                @foreach (var file in files)
                {
                  <div class="my-2"> 
                  <div class="rounded-md bg-[#F5F7FB] py-4 px-8">
                    <div class="flex items-center justify-between">
                      <div class="truncate pr-3 text-base font-medium text-[#07074D]">
                          
                          <div class="flex flex-row space-x-4">
                              <p><img src="@file.Url" width="50px" onerror="this.style.display='none';"></p>
                                
                              <div class="flex flex-col">
                                <p>@file.Name</p> 
                                <p>@(file.Size / 1024) KB</p> 
                              </div>                       
                            </div>
                          
                      </div>
                        <button disabled="@Disabled" @onclick="@(args => OnRemove(file))" type="button" class="@ButtonClassList">
                              <Property365Icon Icon="close" class="dropdown-trigger-icon mr-1"/>
                          </button>
                    </div>
                  </div>
                </div>
              }
            </div>
        </div>
    </div>
    }else{
      <div class="h-full w-full text-center flex flex-col justify-center items-center mt-2">
          <img class="mx-auto w-12" src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png" alt="no data" />
          <span class="text-xs uppercase text-gray-500">No file selected</span>
      </div>
    }
</div>
    

}